body {
  background-color: peru;
}

h1  {
  border-style: ridge;
  border-width: 3px;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color: black;
  text-align: center;
}

.nav_bar li {
  display: inline-block;
  padding-right: 5px;
}

.nav_bar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px;
}

.nav_bar a:hover {
  background-color: peru;
  color: black;
}

.world img {
  display: inline-block;
  padding: 5px;
}

.multipic img {
  float: left;
  width: 50%;
}

.holdimg img {
  float: left;
  width: 50%;
}

.intro p  {
  border-style: outset;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.pic img  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
}

.addr p {
  text-align: center;
}

.resumelist ul {
  text-align: center;
}
