* {box-sizing: border-box}

body {
  background-color: peru;
}

h1  {
  border-style: ridge;
  border-width: 3px;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color: black;
  text-align: center;
}

.nav_bar li {
  display: inline-block;
  padding-right: 5px;
}

.nav_bar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px;
}

.nav_bar a:hover {
  background-color: peru;
  color: black;
}

.imghold {
  width: 1000px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.imghold p {
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.imgpic:not(:first-child) {
  display: none;
}

.intro p  {
  border-style: outset;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.pic img  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
}

.addr p {
  text-align: center;
}

.resumelist ul {
  text-align: center;
}
