*{box-sizing: border-box}

.world {
  max-width: auto;
  position: center;
  margin: auto;
}

.multipic {
  display: none;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
